<footer>
  <ul class="nav justify-content-center">
      <li class="nav-item"><a href="/home" class="nav-link px-2">Home</a></li>
      <li class="nav-item"><span class="nav-link px-2">&nbsp;</span></li> <!-- Blank space here -->
      <li class="nav-item"><a href="#" class="nav-link px-2">Back to Top</a></li>
  </ul>
  <p class="vision text-center">Structon</p>
  <div class="contact_info">
    <div>
      <p class="copyright">Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved.</p>
    </div>
  </div>
</footer>