<footer>
  <div class="footer-overlay">
    <div class="container">
      <div class="row">
        <!-- Contact Details -->
        <div class="col-lg-4 col-md-6">
          <h5>Contact Us</h5>
          <p><i class="fas fa-map-marker-alt"></i> 
            <span>Suite 701 NRZ Building</span><br>
            <span class="address-line">Corner Fife Street & 10th Avenue</span><br>
            <span class="address-line">Bulawayo, Zimbabwe</span>
          </p>
          <p><i class="fas fa-phone-alt"></i> +263 771 902 878</p>
          <p><i class="fas fa-envelope"></i> <a href="mailto:structoninvestments@gmail.com" class="email">structoninvestments@gmail.com</a></p>
        </div>

        <!-- Quick Links -->
        <div class="col-lg-4 col-md-6">
          <h5>Quick Links</h5>
          <ul class="footer-nav">
            <li class="quick-link"><a href="/">Home</a></li>
            <li class="quick-link"><a href="/who-we-are">Who We Are</a></li>
            <li class="quick-link"><a href="/what-we-do">What We Do</a></li>
            <li class="quick-link"><a href="/projects">Projects</a></li>
            <li class="quick-link"><a href="/get-in-touch">Get In Touch</a></li>
          </ul>
        </div>

        <!-- Social Media -->
        <div class="col-lg-4 col-md-12">
          <h5>Follow Us</h5>
          <div class="social-icons">
            <a href="" target="_blank"><i class="fab fa-facebook-f"></i></a>
          </div>
        </div>
      </div>
      
      <hr class="footer-divider">

      <!-- Bottom Footer -->
      <div class="footer-bottom text-center">
        <p class="copyright">Copyright &copy; <script>document.write(new Date().getFullYear());</script> Structon Investments. All rights reserved.</p>
        <a href="#" class="back-to-top">Back to Top</a>
      </div>
    </div>
  </div>
</footer>
