<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand company_name" href="/">
      <img id="logo" src="../static/images/structon-logo.png" alt="Logo">
      Structon Investments
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <img class="logo" src="../static/images/structon-logo.png" alt="Logo">
        <h5 class="offcanvas-title company_name" id="offcanvasNavbarLabel" style="color: black;">Structon Investments</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body nav-link-container">
        <ul class="navbar-nav justify-content-around flex-grow-1 align-items-center gap-4">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/who-we-are">Who We Are</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/what-we-do">What We Do</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/projects">Projects</a>
          </li>
        </ul>
        <div class="get-in-touch">
          <a class="nav-link" href="/get-in-touch">Get In Touch</a>
        </div>
      </div>
    </div>
  </div>
</nav>